<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- The target to write to -->
  <target>
    <!-- Write log to file -->
    <targets name="allfile" xsi:type="File" fileName="./NLogs/nlog-all-${shortdate}.log" />
  </target>
  <!-- Rules to map from logger name to target -->
  <rules>
    <!-- All logs including from Microsoft -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>