
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center">
    <h1 class="display-2 text-danger">AccessDenied</h1>
    <h5 class="text-danger">You dont have permission to view this resource</h5>
    <img src="~/images/noaccess.png" height="300" width="300" alt="Access Denied image" asp-append-version="true"/>
</div>

