@model int

@{ 
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger my-1">
    <h4>404 Not Found: </h4>
    <hr />
    <h5>
        Employee with id  = @Model can't be found
    </h5>
    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-success" style="width: auto;">
        Click here to see the list of all Employees
    </a>
</div>